---
import { cn } from '@/utils/cn';

interface Props {
	id: string;
	title: string;
	role: string;
	class?: string;
	companyName: string;
	companyColor?: string;
	tags: string[];
}

const {
	companyName,
	title,
	role,
	id,
	class: className = '',
	companyColor,
	tags = []
} = Astro.props;
---

<section id={id} class={cn('', className)}>
	<div class="mx-1/12 flex flex-col gap-8 text-lg md:px-20">
		<slot name="logo" />
		<!-- <div class="flex flex-col gap-8  lg:flex-row lg:gap-12"> -->
		<h2
			class="w-full font-serif text-4xl leading-tight text-slate-500 md:text-[3.5rem]"
		>
			<i class="underline decoration-dotted" style={{ color: companyColor }}
				>{companyName}</i
			>
			{title}
			<span class="text-primary">{role}</span>
		</h2>
		<!-- </div> -->
		<!-- the project tags -->
		<span class="flex flex-wrap items-start gap-4">
			{
				tags.map((tag) => (
					<div class="flex-shrink-0 rounded-full border border-slate-300 px-4 py-1 text-slate-500">
						{tag}
					</div>
				))
			}
		</span>
	</div>
	<div class="relative w-full pt-4">
		<div
			class="hide-scrollbar -my-24 flex w-full overflow-x-scroll overscroll-x-auto scroll-smooth py-24"
		>
			<div
				class="mx-auto flex h-[28rem] flex-shrink-0 flex-row justify-start gap-4 pl-4 last:pr-4 md:h-[34rem] md:pl-20"
			>
				<slot name="client-work" />
			</div>
		</div>
	</div>
	<span class="grid grid-cols-12 place-items-center px-4 py-4 md:px-20">
		<span class="hidden md:col-span-3 md:inline-block">
			<slot name="testimonial" />
		</span>
		<span class="col-span-9 col-start-2 md:col-span-6 md:col-start-6">
			<slot name="description" />
		</span>
		<span class="col-span-9 col-start-2 mt-16 md:col-span-3 md:hidden">
			<slot name="testimonial" />
		</span>
	</span>
</section>

<style>
	.hide-scrollbar {
		/*FireFox*/
		scrollbar-width: none;
		/*IE10+*/
		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
	.hide-scrollbar::-webkit-scrollbar {
		/*Chrome, Safari, Edge*/
		display: none;
	}
</style>
