---
import { cn } from '@/utils/cn';
import { Image } from 'astro:assets';

interface Props {
	avatarSrc: ImageMetadata;
	name: string;
	role: string;
	content: string;
	cite: string;
	bgColor?: string;
	textColor?: string;
	class?: string;
}

const {
	avatarSrc,
	name,
	role,
	content,
	cite,
	bgColor,
	textColor,
	class: className
} = Astro.props;
---

<div
	class={cn('flex flex-col text-sm bg-transparent py-8', bgColor, className)}
>
	<pre class="-ml-4 text-9xl leading-3 text-slate-100">❝</pre>
	<blockquote cite={cite} class={cn('flex flex-col gap-8', textColor)}>
		<span class="pr-3 font-mono">{content}</span>

		<div class="flex items-center gap-2">
			<Image
				src={avatarSrc}
				alt={`${name}, ${role}`}
				class="size-8 rounded-full"
			/>
			<div class="flex flex-col gap-0 text-foreground">
				<span><b>{name}</b></span>
				<span class="text-sm text-slate-500">{role}</span>
			</div>
		</div>
	</blockquote>
</div>
